{%extends "base.html"%}
{%block title%}Annontation Page{%endblock%}
{%block content%}
<div class="container">
    <h4> Annontation Page</h4>
    <img src="{{url}}" alt="Wave" height="30%" width="60%">
    {% if random_file %}
    <div>
        <audio controls autoplay="yes">
            <source src="{{ url_for('static', filename='/subsample_wavs/'+ random_file) }}">
        </audio>
    </div>
    <div class="buttons">
	    <a class="btn btn-success" id="yes"  href="{{url_for('anwser_yes')}}?filename={{random_file}}" accesskey="a">Yes</a>
	    <a class="btn btn-danger" id="no"     href="{{url_for('anwser_no')}}?filename={{random_file}}" accesskey="z">No</a>
	    <a class="btn btn-dark" id="maybe" href="{{url_for('anwser_maybe')}}?filename={{random_file}}" accesskey="x">Not sure</a>
    </div>
    {% endif %}
</div>
{%endblock%}
